.my-table , td , th {
    border-bottom: 2px solid #eee;
    border-collapse: collapse;
    font-family: tahoma;
    font-size: 20px;
}
.my-table{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.my-table .head{
    background-color: rgb(122, 25, 151);
    color: #fff;
}

td , th{
    padding:50px 80px;
    box-sizing: border-box;
}
tbody td:first-child {
    background-color: rgb(209, 212, 216) !important;
}
th{
    border-bottom: none;
}
.my-table tbody td:nth-child(odd){
    background-color: rgb(232, 235, 235);
}
.sign-up{
    width: 100px;
    height: 40px;
    background-color: rgb(122, 25, 151);
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}
.sign-up:hover{
    background-color: rgb(96, 20, 119);
}